/*Utilities*/
.inicio img {
  width: 100%;
  height: 550px; }

.logo img {
  width: 80px;
  height: 80px; }

div img {
  width: 250px;
  height: 250px; }

/*Layout*/
/*Footer*/
.footer-section {
  background-color: blanchedalmond;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .footer-section .contacto-footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .footer-section .contacto-footer .box h2 {
      color: #c87a69;
      margin-bottom: 25px;
      font-size: 20px; }
    .footer-section .contacto-footer .box a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #c87a69;
      border-radius: 10px;
      text-align: center;
      align-items: center;
      transition: all 300ms ease;
      margin-left: 25px;
      color: black; }
      .footer-section .contacto-footer .box a i {
        font-size: 20px;
        color: black;
        transform: scale(1);
        transition: 0.4s ease-in-out; }
        .footer-section .contacto-footer .box a i:hover {
          transform: scale(1.3);
          color: blanchedalmond; }
    .footer-section .contacto-footer .box .info {
      display: flex;
      margin-top: 5px; }
      .footer-section .contacto-footer .box .info a {
        margin-left: 25px;
        color: black; }
      .footer-section .contacto-footer .box .info h5 {
        margin-top: 10px;
        margin-left: 5px; }
  .footer-section .copy {
    background-color: #c87a69;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }

/*Header*/
nav {
  display: flex;
  min-height: 70px;
  background-color: #c87a69;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  nav img {
    margin-left: 5px; }

.logo img {
  margin-right: 10px; }

ul {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  ul li {
    padding-top: 10px;
    padding-bottom: 10px; }
    ul li a {
      margin-right: 25px; }
    ul li .active {
      background-color: blanchedalmond;
      padding: 8px 12px;
      border-radius: 10px; }

.navbar-collapse {
  justify-content: flex-end; }

ul.navbar-nav {
  margin-left: 70px;
  margin-right: 70px;
  text-align: center; }

/*Media Querries*/
@media only screen and (min-width: 1200px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); } }

@media only screen and (max-width: 1200px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5vw; }
  .precio {
    padding-bottom: 5%; } }

@media only screen and (min-width: 800px) {
  .contacto {
    margin-left: 20%;
    margin-right: 20%; }
  body {
    padding-bottom: 19em; } }

@media only screen and (max-width: 800px) {
  .footer-section .contacto-footer {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .contacto-footer {
    margin-left: 0;
    margin-right: 0; }
  body {
    padding-bottom: 26em; } }

@media only screen and (min-width: 700px) {
  form {
    width: 80%; }
  .inicio-info_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 700px) {
  nav {
    flex-direction: column; } }

@media only screen and (max-width: 600px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5vw; }
  .inicio img {
    width: 300px;
    height: 300px; } }

/*Pages*/
/*paginacontacto*/
.contacto {
  background-color: blanchedalmond;
  margin-top: -40px;
  margin-bottom: 50px; }
  .contacto .titulo {
    background-color: #c87a69;
    padding: 8px 12px;
    text-align: center; }
  .contacto .contact-form {
    display: flex;
    justify-content: center; }
    .contacto .contact-form form {
      margin: 40px; }
      .contacto .contact-form form input[type=text], .contacto .contact-form form select, .contacto .contact-form form textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #c87a69;
        outline: none;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical; }
      .contacto .contact-form form .boton {
        display: flex;
        justify-content: center; }
        .contacto .contact-form form .boton input[type=submit] {
          width: 10rem;
          background-color: #c87a69;
          color: #fff;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer; }

/*paginainicio*/
.inicio {
  justify-content: center;
  margin-top: -40px;
  background-color: blanchedalmond;
  padding: 20px;
  margin-bottom: 50px; }
  .inicio .carousel {
    margin-right: 20px;
    margin-top: 10px; }
  .inicio .texto {
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 35px;
    margin-right: 33px; }
    .inicio .texto .titulo1 {
      margin-bottom: 20px;
      background-color: #c87a69;
      padding: 8px;
      text-align: center;
      font-size: xx-large; }
    .inicio .texto .texto--inicio {
      margin-bottom: 20px; }
  .inicio .inicio-info {
    padding-top: 50px;
    padding-right: 22px; }
    .inicio .inicio-info .inicio-info_box {
      margin-left: 10px;
      margin-right: 18px; }
      .inicio .inicio-info .inicio-info_box .box {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px; }
        .inicio .inicio-info .inicio-info_box .box i.fa-solid.fa-hand-holding-heart, .inicio .inicio-info .inicio-info_box .box i.fa-solid.fa-hammer, .inicio .inicio-info .inicio-info_box .box i.fa-solid.fa-seedling {
          font-size: 50px;
          background-color: #c87a69;
          width: 77px;
          height: 77px;
          text-align: center;
          line-height: 68px;
          border-radius: 63px;
          margin-bottom: 12px; }
        .inicio .inicio-info .inicio-info_box .box i.fa-solid.fa-hammer {
          line-height: 72px; }
        .inicio .inicio-info .inicio-info_box .box i.fa-solid.fa-seedling {
          line-height: 76px; }

/*paginaFAQ*/
.faq {
  background-color: blanchedalmond;
  margin-top: -40px;
  margin-bottom: 50px; }
  .faq .titulo2, .faq .titulo3 {
    background-color: #c87a69;
    padding: 8px 12px;
    text-align: center; }
  .faq .pregunta {
    text-align: left;
    margin-top: 20px;
    margin-left: 40px; }
  .faq .respuesta {
    text-align: justify;
    margin-top: 5px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    margin-left: 30px;
    margin-right: 30px; }

/*paginaaromas*/
.card-aromas {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  flex-wrap: wrap; }
  .card-aromas .card {
    margin-top: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); }
    .card-aromas .card:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%); }

.card-img-top {
  width: 286px;
  margin-left: 0px; }

/*paginaproductos*/
.productos {
  padding: 0.5vw;
  font-size: 120%;
  justify-items: center; }
  .productos .precio {
    font-weight: bolder; }

.btn-primary {
  background-color: #c87a69;
  border-color: #c87a69;
  --bs-btn-active-bg: #c87a69;
  --bs-btn-active-border-color: #c87a69; }
  .btn-primary:hover {
    background-color: #c87a69;
    border-color: black; }

* {
  font-family: Signika Negative;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section {
  padding: 90px 20px 0; }

body {
  position: relative;
  min-height: 100vh; }
