/*paginacontacto*/
.contacto{
    background-color: $color-fondo;
    margin-top: -40px;
    margin-bottom: 50px;
    .titulo{
        background-color: $color-primario;
        padding: 8px 12px;
        text-align: center;
    }
    .contact-form{
        display: flex;
        justify-content: center;
        form{
            margin: 40px;
            input[type=text],select,textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid $color-primario;
                outline: none;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical
            }
            .boton{
                display: flex;
                justify-content: center;
                input[type=submit] {
                    width: 10rem;
                    background-color: $color-primario;
                    color: $color-copy;
                    padding: 12px 20px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}