/*paginaFAQ*/
.faq{
    background-color: $color-fondo;
    margin-top: ($margin)-140;
    margin-bottom: ($margin)-50;
    text-align: center;
    .titulo2{
        background-color: $color-primario;
        padding: 8px 12px;
        text-align: center;
    }
    .pregunta{
        text-align: left;
        margin-top: ($margin)-80;
        margin-left: ($margin)-60;
    }
    .respuesta{
        text-align: justify;
        margin-top: ($margin)-95;
        padding-bottom: 20px;
        margin-bottom: ($margin)-120;
        margin-left: ($margin)-70;
        margin-right: ($margin)-70;
    }
}
