/*paginainicio*/
.inicio{
    justify-content: center;
    margin-top: ($margin)-140;
    background-color: $color-fondo;
    padding: 20px;
    margin-bottom: ($margin)-50;
    .carousel{
        margin-right: 20px;
        margin-top: 10px;
    }
    .texto{
        margin-top: ($margin)-70;
        padding-top: 10px;
        margin-left: ($margin)-65;
        margin-right: ($margin)-67;
        .titulo1{
            margin-bottom:($margin)-80;
            background-color: $color-primario;
            padding: 8px;
            text-align: center;
            font-size: xx-large;
        }
        .texto--inicio{
            margin-bottom: ($margin)-80;
        }
    }
    .inicio-info{
        padding-top: 50px;
        padding-right: 22px;
        .inicio-info_box{
            margin-left: ($margin)-90px;
            margin-right: ($margin)-82px;
            .box{
                text-align: center;
                margin-left: ($margin)-90px;
                margin-right:($margin)-90px;
                i.fa-solid.fa-hand-holding-heart{
                    font-size: 50px;
                    background-color: $color-primario;
                    width: 77px;
                    height: 77px;
                    text-align: center;
                    line-height: 68px;
                    border-radius: 63px;
                    margin-bottom:($margin)-88px
                }
                i.fa-solid.fa-hammer{
                    @extend i.fa-solid.fa-hand-holding-heart;
                    line-height: 72px;
                }
                i.fa-solid.fa-seedling{
                    @extend i.fa-solid.fa-hand-holding-heart;
                    line-height: 76px;
                }
            }
        } 
    }
}