/*paginainicio*/
.inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: ($margin)-140;
    background-color: $color-fondo;
    padding: 20px;
    margin-bottom: ($margin)-50;
    .texto{
        margin-top: ($margin)-70;
        padding-top: 10px;
        text-align: center;
        margin-left: ($margin)-40;
        margin-right: ($margin)-40;
        .titulo1{
            margin-bottom: ($margin)-80;
            background-color: $color-primario;
            padding: 8px;
            text-align: center;
            font-size: xx-large;
        }
        .texto--inicio{
            margin-bottom: ($margin)-80;
        }
    }
}
