/*paginaproductos*/
.titulo3{
    @extend .titulo2
}
.productos{
    padding: 0.5vw;
    font-size: $fuente-size/2;
    .precio{
        display: flex;
        justify-content: center;
        padding-top: 5%;
        h4{
            margin-left: ($margin)-90;
            margin-right: ($margin)-90;
        }
    }
}