/*paginaproductos*/
.titulo3{
    @extend .titulo2
}
.productos{
    padding: 0.5vw;
    font-size: $fuente-size/2;
    justify-items: center;
    .precio{
        font-weight: bolder;
    }
}
.btn-primary{
    background-color:$color-primario;
    border-color: $color-primario;
    --bs-btn-active-bg: #c87a69;
    --bs-btn-active-border-color: #c87a69;
    &:hover{
        background-color: $color-primario;
        border-color: $color-fuente;
    }
}
.card{
    margin-bottom: ($margin)-70px;
}