/*paginaproductos*/
.titulo3{
    background-color: $color-primario;
    padding: 8px 12px;
}
.productos{
    padding: 0.5vw;
    font-size: 120%;
    .precio{
        display: flex;
        justify-content: center;
        padding-top: 5%;
        h4{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}