/*Header*/
nav{
    display: flex;
    min-height: 70px;
    background-color: $color-primario;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    img{
        margin-left: 5px;
    }
}
.logo{
    img{
        margin-right: 10px;
    }
}
ul{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
        padding-top: 10px;
        padding-bottom: 10px;
        a{
            margin-right: 25px;
        }
        .active{
            background-color: $color-fondo;
            padding: 8px 12px;
            border-radius: 10px;
        }
    }
}