/*Media Querries*/
@media only screen and (min-width:1300px){
    .texto{
        width: 40%;
    }
}
@media only screen and (min-width:1000px) {
    .productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width:1000px){
    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5vw;
    }
    .precio{
        padding-bottom: 5%;
    }
}
@media only screen and (min-width:800px) {
    .contacto{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (max-width: 800px) {
    .footer-section .contacto-footer{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .contacto-footer{
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-width:700px){
    form{
        width: 80%;
    }
}
@media (max-width:700px){
    nav{
        flex-direction: column;
        }
    .logo{
        display: grid;
        grid-template-columns: repeat(1, 170px)
    }
    .logo img{
        margin-left: 40px;
    }
}
@media only screen and (max-width:600px) {
    .productos {
        display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 0.5vw;
        }
    .inicio img{
        width: 300px;
        height: 300px;
    }
    }
